@import url('https://fonts.googleapis.com/css?family=Monofett&display=swap');


body{
    margin: 0;
    padding: .8em;
    font-family: 'Monofett', cursive;
    background-color: black;

}
h1{
    text-align: center;
    color: white;
    letter-spacing: .5em;

}


#calculator{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(4, .5fr);
    grid-template-rows: repeat(7, .5fr);
    grid-template-areas: "header     header   header     header"
                        "screen     screen   screen     screen"
                        "multiply   divide  substract add"
                        "dot        nine    eight     seven"
                        "six        five    four      three"
                        "two        one     zero      equal"
                        "clear      clear   clear     clear";
}


.btn{
    border: none;
    font-size: 2em;
    margin: 0 .5em;
    height: 3em;
    width: 6em;
    outline: none;
    border-radius: 3px;
    background-color: black;
    color: darkgray;
}

.btn:hover{
    background-color: #ff073a;
    outline: none;

}

#header{
    grid-area: header;
    font-size: 3em;
}

#screen{
    grid-area: screen;
    width: 95%;
    justify-self: center;
    height: 1em;
    font-size: 3em;
    outline: none;
    
}

#clear{
    grid-area: clear;
    width: auto;
}

#equal{
    grid-area: equal;
    background-color: midnightblue;
}

#zero{
    grid-area: zero;
}

#one{
    grid-area: one;
}

#two{
    grid-area: two;

}

#three{
    grid-area: three;
}

#four{
    grid-area: four;
}

#five{
    grid-area: five;
}

#six{
    grid-area: six;
}

#seven{
    grid-area: seven;
}

#eight{
    grid-area: eight;
}

#nine{
    grid-area: nine;
}

#multiply{
 grid-area: multiply;
}

#divide{
    grid-area: divide;
}

#substract{
    grid-area: substract;
}

#add{
    grid-area: add;
}